
.Login-form {
    width: 420px;
    border: 2px;
    box-shadow: 0 5px 10px #0db1b1;
    border-radius: 40px;
    padding: 40px;
    color: black;
    justify-items: center;
    background-color: white;
    backdrop-filter: blur(30px);
    position: absolute;
    right: 35%;
    top: 28%;
  }
  
  .container{
    background-color: powderblue;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}
  .input-field {
    padding: 10px;
    border-radius: 15px;
    width: 200px;
    border: none;
  }
  
  .input-field-submit {
    padding: 10px;
    border-radius: 15px;
    width: 220px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
  }
  
  .input-field-submit:hover {
    background-color: rgb(65, 63, 63);
    color: white;
  }

  
  .register{
    cursor: pointer;
    color: rgb(26, 16, 87);
    text-decoration: none;
  }
.register:hover{
  color: rgba(87, 5, 87, 0.808);
  text-decoration: underline;
}